<!DOCTYPE html>
<html>
<head>
    <title>NextAvailableRead</title>
</head>

<body>
    <h1>Welcome to NextAvailableRead</h1>
    {% if not authorized %}
    <p>You must first authorize access to your Goodreads account: <a href="{{ authorize_url }}" target="_blank">Authorize here</a></p>
    {% else %}
    <p>Thank you for authorizing. To authorize a different account, rerun the app.</p>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.shelf.label }}<br>
            {{ form.shelf(size=32) }}<br>
            {% for error in form.shelf.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.number_of_books.label }}<br>
            {{ form.number_of_books(size=32) }}<br>
            {% for error in form.number_of_books.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    {% endif %}
</body>


</html>